:root{
    --colorGradient: linear-gradient(115deg, #ffffff 20%, #000000 80%);
    --colorGradientBlend: linear-gradient(90deg, #ffffff 20%, #000000);
    --colorGradientDarker: linear-gradient(115deg, #ffffff 0%, #000000 30%);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  
  .hangman {
    position: relative;
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    background-color: lightblue;
  }
  
  .ground {
    width: 100%;
    height:15%;
    position: absolute;
    bottom: 0px;
    background-color: brown;
  }
  
  .gallows {
    position: absolute;
    width: 100%;
    height: 85%;
    background-color: yellow;
  }
  
  #pole {
    position: absolute;
    height: 95%;
    width: 6%;
    background-color: black;
    left: 10%;
    bottom: 0;
  }
  
  #base-bottom {
    position: absolute;
    width: 25%;
    height: 6%;
    bottom: 0;
    left: 3.5%;
    background-color: black;
  }
  
  #base-left {
    position: absolute;
    width: 2.5%;
    height: 20%;
    bottom: 0;
    left: 7.75%;
    background-color: black;
    transform: rotate(25deg);
  }
  
  #base-right {
    position: absolute;
    width: 2.5%;
    height: 20%;
    bottom: 0;
    left: 18%;
    background-color: black;
    transform: rotate(-45deg);
  }
  
  #beam {
    position: absolute;
    height: 7%;
    width: 70%;
    background-color: black;
    left: 5%;
    top: 2%;
  }
  
  #beam-support {
    position: absolute;
    width: 3.5%;
    height: 25%;
    left: 20%;
    background-color: black;
    transform: rotate(50deg);
  }
  
  .jose {
    position: absolute;
    width: 100%;
    height: 87%;
    top: 13%;
  }
  
  .head {
    position: absolute;
    width: 55%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--colorGradient);
    top: 3%;
    left: 33%;
    z-index: 2;
  }
  
  .sway {
    position: absolute;
    width: 30%;
    height: 68%;
    top: 7%;
    left: 36%;
    transform-origin: top;
    animation: pendulum 5s ease infinite;
  }
  
  .body {
    position: absolute;
    width: 55%;
    height: 45%;
    top: 28%;
    left: 25%;
  }
  
  #upper-body {
    position: absolute;
    width: 120%;
    height: 50%;
    left: -10%;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 10% 100%);
    border-radius: 30%;
    background: var(--colorGradient);
    z-index: 1;
  }
  
  #lower-body {
    position: absolute;
    width: 105%;
    height: 90%;
    top: 10%;
    left: -5%;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 5% 100%);
    border-radius: 20% 40% 40% 30%;
    background: var(--colorGradientBlend);
    z-index: 1;
  }
  
  .arms {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 30%;
  }
  
  #arm-left {
    position: absolute;
    width: 25%;
    height: 100%;
    border-radius: 50% / 20%;
    left: 17%;
    transform-origin: top; 
    transform: rotate(3deg);
    background: var(--colorGradient);
     z-index: 2;
  }
  
  #arm-right {
    position: absolute;
    width: 25%;
    height: 100%;
    border-radius: 50% / 20%;
    right: 10%;
    transform-origin: top;
    transform: rotate(-3deg);
    background: var(--colorGradientDarker);
    z-index: 0;
  }
  
  .legs {
    position: absolute;
    width: 100%;
    height: 55%;
    top: 60%;
  }
  
  #leg-left {
    position: absolute;
    width: 25%;
    height: 100%;
    border-radius: 50% / 20%;
    left: 27%;
    transform-origin: top; 
    transform: rotate(1deg);
    background: var(--colorGradient);
    z-index: 0;
  }
  
  #leg-right {
    position: absolute;
    width: 25%;
    height: 100%;
    border-radius: 50% / 20%;
    right: 26%;
    transform-origin: top;
    transform: rotate(-2deg);
    background: var(--colorGradientDarker);
    z-index: 0;
  }
  
  .hanging-rope {
    position: absolute;
    width: 35%;
    height: 45%;
    left: 40%;
  }
  
  .loop {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 5%;
    z-index: 2;
  }
  
  #loop-bottom {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    border-radius: 50% 40% 70% 70%;
    border-bottom: solid min(3vw, 3vh) purple;
    border-left: solid min(3vw, 3vh) purple;
    border-right: solid min(3vw, 3vh) purple;
  }
  
  #loop-left {
    position: absolute;
    width: min(3vw, 3vh);
    height: 75%;
    right: 40%;
    border-radius: 50% / 90%;
    transform-origin: top;
    transform: rotate(20deg);
    background-color: purple;
  }
  
  #loop-right {
    position: absolute;
    width: min(3vw, 3vh);
    height: 75%;
    left: 40%;
    border-radius: 50% / 90%;
    transform-origin: top;
    transform: rotate(-20deg);
    background-color: purple;
  }
  
  .knot {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    z-index: 2;
  }
  
  #loose-rope {
    position: absolute;
    width: min(3vw, 3vh);
    height: 110%;
    bottom: 10%;
    left: min(1.5vw, 1.5vh);
    background-color: purple;
  }
  
  #knot1 {
    position: absolute;
    width: 120%;
    height: min(3vw, 3vh);
    background-color: purple;
    border-radius: 25% / 50%;
    transform: rotate(25deg);
    bottom: 20%;
    left: -10%;
  }
  
  #knot2 {
    position: absolute;
    width: 120%;
    height: min(3vw, 3vh);
    background-color: purple;
    border-radius: 25% / 50%;
    transform: rotate(25deg);
    bottom: 35%;
    left: -10%;
  }
  
  #knot3 {
    position: absolute;
    width: 150%;
    height: min(3vw, 3vh);
    background-color: purple;
    border-radius: 25% / 50%;
    transform: rotate(-50deg);
    bottom: 35%;
    left: -25%;
  }
  
  .gallow-rope {
    position: absolute;
    width: 6%;
    height: 10%;
    top: 1%;
    left: 50%;
  }
  
  #top-knot1 {
    position: absolute;
    width: 180%;
    height: min(3vw, 3vh);
    background-color: purple;
    border-radius: 25% / 50%;
    transform: rotate(-50deg);
    bottom: 35%;
    left: -40%;
  }
  
  #top-knot2 {
    position: absolute;
    width: 180%;
    height: min(3vw, 3vh);
    background-color: purple;
    border-radius: 25% / 50%;
    transform: rotate(50deg);
    bottom: 35%;
    left: -40%;
  }
  
  #top-knot3 {
    position: absolute;
    width: 180%;
    height: min(3vw, 3vh);
    background-color: purple;
    border-radius: 25% / 50%;
    transform: rotate(90deg);
    bottom: 35%;
    left: -40%;
  }
  
  @keyframes pendulum {
    0% {
      transform: rotate(3deg)
    }
    50% {
      transform: rotate(-3deg)
    }
    100% {
      transform: rotate(3deg)
    }
  }